html, body{
    font-size: 100%;
	 font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
/*-- about --*/
.about,.gallery,.services,.team,.agile-dot,.subscribe,.contact{
	padding:8em 0;
}
.about-heading{
	text-align:center;
}
.about-heading h2,.about-heading h3{
    color: #212121;
    margin: 0;
    font-size: 2.5em;
    font-weight: 800;
    position: relative;
    letter-spacing: 2px;
	/* text-transform:uppercase; */
}
.about-heading p{
    color: #505050;
    font-size: .7em;
    margin: 1em 0 0 0;
    letter-spacing: 2px;
    font-weight: 600;
}
/*-- map --*/
.map {
    width: 100%;
    height: 340px;
    border: 1px solid #ff8800;
}

/*-- //map --*/
/*-- contact --*/
.address {
    margin: 4em 0 0 0;
}
.address-grids {
    padding: 0;
}
.address ul {
    padding: 0;
    margin: 0;
}
.address p {
    margin: 0 0 .3em 0;
    color: #999999;
    font-size: .9em;
    line-height: 1.8em;
}
.address p span{
	display:block;
}
.address a {
    color: #999999;
    font-size: .9em;
    letter-spacing: 1px;
	text-decoration:none;
}
.address a:hover{
    color: #FF5722;
}
.contact-form{
	margin:4em 0 0 0;
}
.contact-form h4,.address h4,.agileits-w3layouts-map h4{
    color: #2f2f2f;
    font-size: 1em;
    font-weight: 800;
    margin: 0 0 2em 0;

}
.styled-input.agile-styled-input-top {
    margin-top: 0;
}
.contact input[type="text"],.contact textarea{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
	outline: none;
}
.contact input[type="email"]{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
	outline: none;
}

.contact input[type="number"],.contact textarea{
    font-size: .9em;
    color: #999999;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
	outline: none;
}
.contact textarea {
	min-height: 150px;
    resize: none;
}
/*-- input-effect --*/
.styled-input input:focus ~ label, .styled-input input:valid ~ label,.styled-input textarea:focus ~ label ,.styled-input textarea:valid ~ label{
    font-size: .9em;
    color: #FF5722;
    top: -1.3em;
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s;
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input input[type="email"]:focus ~ label, .styled-input input[type="email"]:invalid ~ label{
    font-size: .9em;
      color: #FF5722;
     top: -1.3em;  
    -webkit-transition: all 0.125s;
	-moz-transition: all 0.125s;
	-o-transition: all 0.125s;
	-ms-transition: all 0.125s;
    transition: all 0.125s;
} 
.styled-input {
	width: 49%;
    margin: 2em 0 1em 1em;
    position: relative;
    float: left;
}
.styled-input:nth-child(1),.styled-input:nth-child(3){
	margin-left:0;
}
.textarea-grid{
	float:none !important;
	width:100% !important;
	margin-left:0 !important;
}
.styled-input label {
	color: #8c8c8c;
    padding: 0.5em .9em;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
    font-weight: 400;
    font-size: .9em;
    display: block;
    line-height: 1em;
}
.styled-input input ~ span,.styled-input textarea ~ span {
	display: block;
    width: 0;
    height: 2px;
    background: #ff8000;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.125s;
    -moz-transition: all 0.125s;
    transition: all 0.125s;
}
.styled-input textarea ~ span {
    bottom: 5px;
}
.styled-input input:focus.styled-input textarea:focus {
	outline: 0;
}
.styled-input input:focus ~ span,.styled-input textarea:focus ~ span {
	width: 100%;
	-webkit-transition: all 0.075s;
	-moz-transition: all 0.075s;
	transition: all 0.075s;
}
/*-- //input-effect --*/
.contact input[type="submit"] {
    outline: none;
    color: #FFFFFF;
    padding: .5em 3em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: #ff5722;
    border: 1px solid #FF5722;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    background-color: transparent;
    color: #212121;
	background:none;
	border: 1px solid #212121;
}
#errorEmail{
	color:red;
	font-size:.9em
}
/*-- //contact --*/
/*-- responsive --*/
@media(max-width:991px){
	.styled-input {
		width: 48%;
	}
	.space-set {
        margin-top: 80px;
	 }
}

@media(max-width:640px){
	.agileits-w3layouts-map iframe {
		height: 300px;
	}
}
@media(max-width:480px){
	.contact input[type="submit"] {
		padding: .5em 2em;
	}
}
@media(max-width:414px){
	.about, .gallery, .services, .team, .agile-dot, .subscribe, .contact {
		padding: 8em 0;
	}
	.about-heading h2, .about-heading h3 {
		font-size: 2em;
	}
	.styled-input {
		width: 100%;
	}
	.styled-input {
		margin: 1em 0 1em 0em;
	}
	.styled-input.agile-styled-input-top {
		margin-top: 1em;
	}
	.styled-input:nth-child(1){
		margin-top:0;
	}
}
@media(max-width:384px){
	.about-heading h2, .about-heading h3 {
		font-size: 1.5em;
	}
}
/*-- //responsive --*/
/* header */

.header-top-area {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.logo {
	padding-top: 28px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.logo a {
	display: inline-block;
	color: #000;
	font-weight: 500;
	font-size: 1.25em;
}

.navigation-menu .navbar-nav li a {
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 30px 15px;
	-webkit-transition: .3s;
	transition: .3s;
	font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
	background: none;
	color: #555;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
	background: none;
	color: #555;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navbar {
	margin: 0;
}

.navigation-background {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	background: #fff;
}

.navigation-background .logo {
	padding-top: 18px;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.navigation-background .navigation-menu .navbar-nav li a {
	color: #000;
	padding: 20px 15px;
	-webkit-transition: .3s;
	transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
	color: #555;
}

#header {
	margin-bottom: 0;
	padding: 30px 0 60px 0;
}

#header .navbar-inverse .container {
	position: relative;
}

.social-icons ul li {
	padding: 0 10px;
}

.social-icons ul li:last-child {
	padding-right: 0;
}

.social-icons ul li a {
	font-size: 18px;
	color: #d3d3d3;
	padding: 0;
}

.social-icons ul li a:hover .fa-facebook {
	color: #0884d5;
}

.social-icons ul li a:hover .fa-twitter {
	color: #2AA7DC;
}

.social-icons ul li a:hover .fa-google-plus {
	color: #A22523;
}

.social-icons ul li a:hover .fa-dribbble {
	color: #E94989;
}

.social-icons ul li a:hover .fa-linkedin {
	color: #006DC0;
}

.social-icons ul li a:hover,
.social-icons ul li a:focus {
	background: none;
}

#header .navbar {
	background: #fff;
	border: 0;
	margin-bottom: 0;
}

#header .navbar-toggle {
	margin-top: 20px;
}

#header .navbar-brand {
	padding: 0;
	margin-left: 0;
}

#header .navbar-brand h1 {
	padding: 2px 0 0 0;
	margin: 0;
}

#header .navbar-nav.navbar-right>li:last-child {
	margin-right: 20px;
}

#header .navbar-nav.navbar-right>li a {
	color: #000;
	font-size: 12px;
	/*padding: 20px;*/
	text-transform: uppercase;
	font-weight: 600;
}

#header .navbar-inverse .navbar-nav li.active>a,
#header .navbar-inverse .navbar-nav li.active>a:focus,
#header .navbar-nav.navbar-right li>a:hover,
.navbar-inverse .navbar-nav>.open>a {
	background-color: inherit;
	border: 0;
	color: #00aeef;
}

#header .navbar-inverse .navbar-nav li a:hover {
	color: #00aeef;
}


/*header custom*/

@media (min-width: 768px) {
	#header .navbar-brand {
		padding-top: 4px;
		margin-left: 2px;
	}
}

@media (max-width: 767px) {
	#header .navbar-brand {
		padding-left: 2px;
	}

}

.navigation-menu .navbar-nav li a {
	color: #333; // main.css l353
	text-transform: uppercase;
	font-size: 12px;
	padding: 30px 15px;
	-webkit-transition: .3s;
	transition: .3s;
	font-weight: 600;
}

.container {
	padding-right: 0px;
	padding-left: 13px;
}

@media only screen and (max-width: 768px) {
	#header .navbar-nav.navbar-right li {
		padding: 3px;
	}
}

#header .navigation-background .navigation-menu .navbar-nav li a:hover {
	color: #555;
}

/*custom hover effects*/

.custom-hover-effects a::after {
	background-color: #ff8000;
	content: "";
	height: 3px;
	width: 100%;
	position: absolute;
	bottom: -12px;
	left: 0;
	opacity: 0;
	transition: opacity 300ms ease, bottom 300ms ease;
}

.custom-hover-effects a:hover::after {
	opacity: 1;
	bottom: 0;
}


/*logos carousel*/

#clients-logo-section {
	padding-top: 30px;
	padding-bottom: 75px;
}

#clients-logo-section .clients-logo-img {
	padding: 0px 10px;
}


/*  Dropdown menu*/

ul.sub-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}

#header .navbar-nav li ul.sub-menu li a {
	color: #818285;
	padding: 5px 0;
	font-size: 13px;
	display: block;
	text-transform: capitalize;
}

#header .navbar-nav li ul.sub-menu li .active {
	background: #00aeef;
	color: #fff;
	position: relative;
}

#header .navbar-nav li ul.sub-menu li .active i {
	position: absolute;
	font-size: 56px;
	top: -13px;
	color: #0884d5;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-right {
	left: -3px;
}

#header .navbar-nav li ul.sub-menu li .active .fa-angle-left {
	right: -3px;
}

#header .navbar-nav li ul.sub-menu li a:hover,
#header .navbar-nav li ul.sub-menu li a:focus {
	background: #00aeef;
	color: #fff;
}

.fa-angle-down {
	padding-left: 5px;
}

.scaleIn {
	-webkit-animation-name: scaleIn;
	animation-name: scaleIn;
}

@-webkit-keyframes scaleIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scaleIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}


/*************************
*******Footer******
**************************/

.footer-section {
	background: #000;
	padding: 80px 0px;
	color: #f8f8f8;
}

.footer-section p {
	font-size: 14px;
}

.footer-section a {
	color: #ffffff;
}

@media only screen and (max-width: 991px) {
	.about-section img {
		position: inherit;
	}
	.call-to-action h2 {
		font-size: 20px;
	}
	.space-set {
		margin-top: 80px;
	}
	.footer-section p {
		text-align: center !important;
	}
}

.digisquire-credit a {
	color: #ff8800;
	font-weight: 600;
}

.digisquire-credit a:hover {
	color: #ffffff;
}

.set-social-icons {
	margin-bottom: -58px;
	margin-top: 0px !important;
}

.social-icon {
	list-style: none;
	padding-left: 0;
	margin: 0;
	text-align: center;
}

.social-icon:before,
.social-icon:after {
	content: " ";
	display: table;
}

.social-icon:after {
	clear: both;
}

.social-icon li {
	display: inline-block;
	margin: 0px 4px;
}

.social-icon li a {
	display: block;
	width: 40px;
	text-align: center;
	font-size: 21px;
	transition: all 0.3s ease-in-out;
}

.social-icon li a .fa {
	line-height: inherit;
}

.social-icon li a:hover .fa-facebook {
	color: #0884d5;
}

.social-icon li a:hover .fa-twitter {
	color: #2AA7DC;
}

.social-icon li a:hover .fa-google-plus {
	color: #A22523;
}

.social-icon li a:hover .fa-linkedin {
	color: #006DC0;
}


